<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

	<system.serviceModel>
		<services>
			<service behaviorConfiguration="metadataSupport" name="Core.Service.VfsService">
				<endpoint binding="netTcpBinding" bindingConfiguration="tcpBindingNoSecurity" contract="Core.Interfaces.Service.IVfsService"/>

				<endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:111"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="metadataSupport">
					<serviceMetadata httpGetEnabled="false" httpGetUrl=""/>
					<serviceDebug includeExceptionDetailInFaults="True"/>
					<serviceThrottling maxConcurrentCalls="50" maxConcurrentInstances="50" maxConcurrentSessions="100"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding name="tcpBindingNoSecurity" receiveTimeout="00:20:00">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>

</configuration>
